body {
	background: black;
	display: flex;
	align-items: center;
	height: 100vh;
}

/* * {
	border: 1px dashed red;
	min-height: 10px;
} */

.postcard {
	background-color: white;
	width: 450px;
	height: 300px;
	margin: auto;
	font-family: "Caveat", cursive;
	font-size: 1.1rem;
	padding: 10px;
}

/* postcard header */
.postcard-header {
	display: flex;
	align-items: center;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

h1 {
	margin-right: auto;
}

/* Postcard body */
.postcard-body {
	display: flex;
}

.postcard-body p {
	margin-top: 0;
	margin-right: 5px;
	text-align: justify;
}

.body-left {
	padding-right: 5px;
}

.body-right {
	padding-left: 5px;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Caveat", cursive;
	font-size: 1.2rem;
}

/* Postcard body */
.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgray;
	padding: 5px;
}
